* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .titulo {
  padding: 20px;
  color: white;
  background-color: #4b5779;
  font-family: 'Junge', serif; }

header h2 {
  padding: 20px;
  color: black;
  font-family: 'Junge', serif; }

body .m1 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m1:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m2 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m2:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m3 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m3:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m4 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m4:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m5 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m5:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m6 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m6:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m7 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m7:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m8 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m8:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m9 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m9:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m10 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m10:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m11 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m11:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m12 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m12:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m13 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m13:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m14 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m14:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m15 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m15:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m16 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m16:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m17 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m17:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m18 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m18:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m19 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m19:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m20 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m20:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m21 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m21:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m22 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m22:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m23 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m23:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m24 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m24:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m25 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m25:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m26 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m26:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m27 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m27:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m28 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m28:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m29 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m29:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m30 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m30:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

body .m31 {
  transition: all 1s ease;
  font-family: 'Open Sans', sans-serif; }

body .m31:hover {
  height: 200;
  transform: scale(1.1, 1.1); }

.footer {
  padding: 20px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }
