*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    .titulo{
        padding: 20px;
    color: white;
    background-color: #4b5779;
    font-family: 'Junge', serif;
    }
    h2{
        padding: 20px;
        color: black;
        font-family: 'Junge', serif;
    }
}
body{
    .m1{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m1:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m2{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m2:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m3{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m3:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m4{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m4:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m5{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m5:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m6{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m6:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m7{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m7:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m8{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m8:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m9{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m9:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m10{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m10:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m11{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m11:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m12{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m12:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m13{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m13:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m14{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m14:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m15{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m15:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m16{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m16:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m17{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m17:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m18{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m18:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m19{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m19:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m20{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m20:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m21{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m21:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m22{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m22:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m23{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m23:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m24{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m24:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m25{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m25:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m26{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m26:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m27{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m27:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m28{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m28:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m29{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m29:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m30{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m30:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
    .m31{
        transition: all 1s ease;
        font-family: 'Open Sans', sans-serif;
    }
    .m31:hover{
        height: 200;
        transform: scale(1.1, 1.1);
    }
}
.footer{
    padding: 20px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}