*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    padding: 20px;
    color: white;
    background-color: #4b5779;
    font-family: 'Junge', serif;
}
footer{
    padding: 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.formulario{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}